<aside class="blahaj-explainer" aria-label="What is a Blahaj?">
  <h3><i class="fas fa-fish"></i> What is a Blahaj?</h3>
  <p>"Blahaj" is Swedish for "blue shark" &mdash; and also the name of a beloved IKEA stuffed shark that became a symbol of comfort and solidarity in the trans community during the COVID-19 pandemic. We adopted the name as a sign of warmth, safety, and belonging. <a href="{{ '/blahaj-trans-icon/' | relative_url }}">Learn why Blåhaj became a trans icon.</a> <em>The Blahaj Church is not affiliated with or endorsed by IKEA.</em></p>
</aside>
